html,
body {
    margin: 0%;
    background-image: url("../images/fondo.jpg");
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 65% 15%;
}


/* First row assets*/

.title {
    grid-column: span 6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


/* Second row assets*/

.column {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.video {
    width: 92%;
    height: auto;
    margin: 4%;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


/* Third row assets*/

.buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column: span 2;
}


/*Buttons*/

.button_recipe {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: larger;
    display: inline-block;
    color: #FFF;
    background: #0f8a05;
    padding: 7px 20px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 100px;
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.controls button[data-state="subtitles"] {
    height: 85%;
    text-indent: 0;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    color: #666;
    background: #000;
    border-radius: 2px;
}